html,body
{
    font-size: 20px;
}
body
{
    font-family: 'Lato', sans-serif;
    background-color:#b9c8d8;
    font-weight: 400;
}
.navbar-default .navbar-nav>li>a {
    color: #333;

    border-right: 1px solid rgba(0, 0, 0, 0.28);
    font-weight: 700;
    letter-spacing: 2px;
}

.loginform,.reservationform
{
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    padding: 20px 15px;

}

#people_number{
    float: left;
}

#people_number label{
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

#people_number input{
    display: block;
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    padding: 4px;
    margin-top: 6px;
    margin-right: 2.5em;
    margin-bottom: 6px;
    width: 17.5em;
}
@media (max-width: 980px) {
    .loginform,.reservationform {
        margin:0px 10px ;
    }
}


footer
{
    position: fixed;
    width: 100%;
    font-weight: 700;
    letter-spacing: 2px;
    color: #333;
    bottom: 0px;
    height: 3.2em;
    text-align: center;
    padding-top:1em;
    background-color: #F8F8F8;
}

